@model Audit.Web.Models.SystemAuditViewModel

@{
    ViewBag.Title = "SystemAuditIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="@Url.Action("CreateSystemAudit", "Audit")">Create Audit</a>

